<div>
  <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
        <h1 class="flex align-items-center justify-content-between">
            Gestionar Usuario
        </h1>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Activo</th>
            <th>Opciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.lastName}}</td>
            <td>{{product.email}}</td>
            <td>{{product.activo}}</td>
            <td>
                <button pButton (click)="showDialog(product)" pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-text"></button>
                <button pButton (click)="confirmation()" pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class=" container__button flex align-items-center justify-content-between">
            Usuarios registrados {{products ? products.length : 0 }}
            <button pButton (click)="addUser()" pRipple type="button" label="Agregar Usuario" class="p-button-raised p-button-text">
                <i class="pi pi-user-plus"></i> 
            </button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Editar Usuario" [(visible)]="editDisplay">
    <p> id </p>
    <input type="text" pInputText value="{{productEdit.id}}" /><br>
    <p> Nombre </p>
    <input type="text" pInputText value="{{productEdit.name}}" /><br>
    <p> Apellido </p>
    <input type="text" pInputText value="{{productEdit.lastName}}" /><br>
    <p> Email </p>
    <input type="text" pInputText value="{{productEdit.email}}" /><br>
    <p> Activo </p>
    <input type="text" pInputText value="{{productEdit.activo}}" /><br>

    <ng-template pTemplate="footer">
        <button pButton (click)="editUser()" pRipple label="guardar" icon="pi pi-save" class="p-button-text" ></button>
    </ng-template>
</p-dialog>

<p-dialog header="Agregar Usuario" [(visible)]="addDisplay">
    <p> id </p>
    <input type="text" pInputText value="" /><br>
    <p> Nombre </p>
    <input type="text" pInputText value="" /><br>
    <p> Apellido </p>
    <input type="text" pInputText value="" /><br>
    <p> Email </p>
    <input type="text" pInputText value="" /><br>
    <p> Activo </p>
    <input type="text" pInputText value="" /><br>

    <ng-template pTemplate="footer">
        <button (click)="saveUser()" pButton pRipple name="button" label="guardar" icon="pi pi-save" class="p-button-text" ></button>
    </ng-template>
</p-dialog>

<p-dialog header="Eliminar Usuario" [(visible)]="display">
    ¿Esta seguro que desea eliminar este Usuario?
    <div>
        <button pButton (click)="eliminar()" type="button" label="Delete" icon="pi pi-trash"></button>
    </div>
</p-dialog>

</div>


